bg(color = deeppink)
  background-color color

border(a=1px , color=blue)
  border  a color solid

f1()
  float left
f2()
  float right
clearF()
  &:after
    content ""
    display table
    clear both


